//Fonts
$font-stack: 'Source Sans Pro', sans-serif;
$font-headings: 'Libre Baskerville', serif;

//Colors
$color-primary: #1D2951; 
$color-accent: #D93636;

//Breakpoints
$bp-small: 359px;
$bp-med: 599px;
$bp-lrg: 840px;
